%h1
  Dear #{@user.pseudo},

%p
  It was really hard, but there is no winner, no loser. Maybe it's a good thing! :-)

%p
  Don't lose hopes! Try again in another match ;-) Here the results of your match:

%p
  = link_to "#{@match.player_1.pseudo} VS #{@match.player_2.pseudo}", match_url(@match)