%h1 Dear #{@user.first_name} #{@user.last_name},

%p
  you subscribed to a matchmaking in the game
  %b #{@game.title}
  for the tournament #{@tournament.name}

%p
  We will prevent you when the matches will begin

%p
  Regard,
%p
  The RailsGame's team