= form_for(@tournament_user) do |f|
  - if @tournament_user.errors.any?
    #error_explanation
      %h2
        = pluralize(@tournament_user.errors.count, "error")
        prohibited this tournament_user from being saved:
      %ul
        - @tournament_user.errors.full_messages.each do |msg|
          %li= msg
  .actions
    = f.submit
