%h1
  Favorites Games

- if @favorites.empty?
  .jumbotron
    %p.text-center
      You have no favorite game :-(

- else
  - @favorites.each do |game|
    %p.text-center
      =link_to game.title, game_path(game), :class => 'btn btn-default'