@import 'bootstrap'

html, body
  background: url('fond.jpeg')
  height: 100%
  overflow: hidden

.container
  width: 80%
  background-color: white
  height: 95%
  overflow: auto
  padding-bottom: 50px

.container-form
  margin-left: 20%
  margin-right: 33%

#user
  width: 10%
  float: left
  padding: 20px

.navbar
  font-size: 17px

img
  background-color: black