@import 'bootstrap'

html, body
  background: url('fond.jpeg')
  height: 100%

.container
  width: 80%
  background-color: white
  height: 90%

.container-form
  width: 50%

#user
  width: 10%
  float: left
  padding: 20px

.navbar
  font-size: 17px

img
  background-color: black