%ul.nav.nav-tabs.nav-justified
  %li{:role => 'presentation'}
    =link_to 'Best Players', best_players_path, :id => 'best_players'
  %li{:role => 'presentation'}
    =link_to 'Best Players (Tournament)', best_players_tournament_path, :id => 'best_players_tournament'
  %li{:role => 'presentation'}
    =link_to 'Best Players (Game)', best_players_game_path, :id => 'best_players_game'
#content
  .text-center
    %h2.page-header
      Welcome in the stats
    %p
      You can see here all the stats in our site RailsGame
    %p
      Here is the list of the stats you can view:
    %h3.page-header
      Best Players
    %p
      The best Players in the whole site

    %h3.page-header
      Best Players (Tournament)
    %p
      You can choose a tournament and view the best players for this tournament

    %h3.page-header
      Best Players (Game)
    %p
      You can choose a game and for this game, there is a ranking in all the tournaments on the site