$('#table-content').children().remove();

if(<%= @users.any? %>){
  $('#info').html('We found <%= @users.count %> users for this tournament');
  <% @users.sort_by{|k, v| v}.reverse.each do |pseudo, points| %>
    $('#table-content')
        .append("<tr>" +
            "<td><%= pseudo %></td>"+
            "<td><%= points %></td>"+
            "</tr>");
  <% end %>
} else {
  $('#info').html('There is no result yet');
}